header{ 
    background: rgb(27, 27, 27) url(https://images.pexels.com/photos/1028223/pexels-photo-1028223.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center;
    background-size: cover;
    text-align: center;
    padding: 40px;
   }
 


    footer{
        padding-top: 50px;
        background-color: rgb(173, 173, 173);
       text-align: center;
       padding-top: 20px;
       padding-bottom: 20px;
   }

   .icons {
    width: 30px;
    padding: 5px;
    
}

p, li{
    font-family: poppins;
}

h3{
    font-family: poppins;

}

h2{
    font-family: poppins;
    text-transform: uppercase;

}

h1{
    font-family: poppins;
    text-transform: uppercase;
    letter-spacing: 5px;
}

